* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  color: white;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
}

.big-img {
  background: url(./img/bigimage.jpeg);
  background-repeat: round;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.small-img {
  border: 2px solid red;
  background: url(./img/folder-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.folder-img {
  background: url(./img/bigimage1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
